#about-us-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  width: 100%;
  background-image: url('/img/about_us_background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.about-us-text {
  font-family: 'Open sans', sans-serif;
  font-size: 1.2em;
  font-weight: 500;
  font-style: italic;
}