body {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

input.form-control:focus, input.form-check-input:focus, select.form-select:focus {
  border-color: #28a745;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(40, 167, 69, 0.25);
}

#turnstile-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 70%;
  padding: 10px;
  background-color: darkturquoise;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 100px);
  padding: 10px;
}