<div id="myservant-navbar" class="mx-auto" style="width: 500px;">
  <nav class="mb-3">
    <ul class="nav justify-content-around">
      <a class="nav-link" href="/user/my-servants">My Servants</a>
      <a class="nav-link" href="/user/my-servants/add-servant">Add Servants</a>
      <a class="nav-link" href="/user/my-servants/remove-servants">Delete Servants</a>
    </ul>
  </nav>
</div>