<div class="d-flex flex-column align-items-center" style="background-image: url('/img/homepage_background_edited.png'); height: 600px; padding-top: 5px;">
  <div class="homepage-welcome">
    Welcome to Fate Hub!
  </div>
  <div class="d-flex flex-grow-1 justify-content-end align-items-center w-100">
    <div class="homepage-introduction">
      A small website made for Fate Grand Order's players or anyone who loves Fate franchise in general. You can quickly look up detailed information of any servant in FGO as well as effortlessly manage your own servants. More cool features will be included in the near future.
    </div>
  </div>
</div>