<div class="row mt-3">
  <div class="col-2">
    <nav class="nav nav-pills flex-column user-nav">
      <a class="nav-link" href="/user/profile">Profile</a>
      <a class="nav-link" href="/user/profile/edit">Edit profile</a>
      <a class="nav-link active" href="/user/change-password">Change password</a>
      <a class="nav-link" href="/user/delete-account">Delete this account</a>
    </nav>
  </div>
  <div class="col-10">
    <form style="width: 300px;" class="border border-primary rounded-1 p-3" action="/user/profile/change-password" method="POST" novalidate>
      <div class="row mb-3 g-2">
        <div class="form-floating col">
          <input type="password" class="form-control" id="old-password" name="oldPassword" placeholder="old-password" required>
          <label for="old-password">Old password</label>
          <div class="invalid-feedback">
            Old password must not be empty
          </div>
        </div>
      </div>
      <div class="row mb-3 g-2">
        <div class="form-floating col">
          <input type="password" class="form-control" id="new-password" name="newPassword" placeholder="new-password" minlength="8">
          <label for="new-password">New password</label>
          <div class="valid-feedback">
            Looks good
          </div>
          <div class="invalid-feedback">
            Password must not be empty and has at least 8 characters
          </div>
        </div>
      </div>
      <div class="row mb-3 g-2">
        <div class="form-floating col">
          <input type="password" class="form-control" id="new-password-retype"  name="newPasswordRetype" placeholder="new-password" minlength="8">
          <label for="new-password-retype">Retype the new password</label>
          <div class="valid-feedback">
            Looks good
          </div>
          <div class="invalid-feedback">
            Password must not be empty an has at least 8 characters
          </div>
        </div>
      </div>
      <div class="row mt-2">
        <div id="error-info" class="col text-center d-none">
          <span style="color: red;"></span>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col d-flex flex-row justify-content-center">
          <button type="button" id="cancel-btn" class="btn btn-danger me-3">Cancel</button>
          <button type="submit" id="change-btn" class="btn btn-success">Change</button>
        </div>
      </div>
    </form>
  </div>
</div>
<script src="/js/change_password.js"></script>